* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v201_435 {
  width: 594px;
  height: 842px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v201_437 {
  width: 418px;
  height: 842px;
  background: url("../images/v201_437.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 32px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 176px;
  overflow: hidden;
}
.v201_438 {
  width: 378px;
  height: 813px;
  background: url("../images/v201_438.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 16px;
  overflow: hidden;
}
.v201_439 {
  width: 378px;
  height: 135px;
  background: url("../images/v201_439.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_440 {
  width: 16px;
  height: 135px;
  background: url("../images/v201_440.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_441 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v201_442 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_443 {
  width: 10px;
  height: 10px;
  background: url("../images/v201_443.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v201_444 {
  width: 4px;
  height: 4px;
  background: rgba(85,48,167,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
}
.v201_445 {
  width: 0px;
  height: 119px;
  background: url("../images/v201_445.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 8px;
  overflow: hidden;
}
.v201_446 {
  width: 0px;
  height: 119px;
  background: url("../images/v201_446.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(226,230,237,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v201_448 {
  width: 378px;
  height: 234px;
  background: url("../images/v201_448.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 0px;
  overflow: hidden;
}
.v201_449 {
  width: 16px;
  height: 234px;
  background: url("../images/v201_449.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_450 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v201_451 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_452 {
  width: 10px;
  height: 10px;
  background: url("../images/v201_452.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v201_453 {
  width: 4px;
  height: 4px;
  background: rgba(85,48,167,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
}
.v201_454 {
  width: 0px;
  height: 218px;
  background: url("../images/v201_454.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 8px;
  overflow: hidden;
}
.v201_455 {
  width: 0px;
  height: 218px;
  background: url("../images/v201_455.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(226,230,237,1);
  overflow: hidden;
}
.v202_2377 {
  width: 346px;
  height: 234px;
  background: url("../images/v202_2377.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v202_2378 {
  width: 77px;
  color: rgba(45,45,71,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Outfit;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v202_2379 {
  width: 346px;
  height: 178px;
  background: url("../images/v202_2379.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  overflow: hidden;
}
.v202_2470 {
  width: 346px;
  height: 45px;
  background: url("../images/v202_2470.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2471 {
  width: 12px;
  height: 45px;
  background: url("../images/v202_2471.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2472 {
  width: 12px;
  height: 12px;
  background: url("../images/v202_2472.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v202_2473 {
  width: 12px;
  height: 12px;
  background: url("../images/v202_2473.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2474 {
  width: 7px;
  height: 7px;
  background: url("../images/v202_2474.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  overflow: hidden;
}
.v202_2475 {
  width: 3px;
  height: 3px;
  background: rgba(45,45,71,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
}
.v202_2476 {
  width: 0px;
  height: 33px;
  background: url("../images/v202_2476.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 6px;
  overflow: hidden;
}
.v202_2477 {
  width: 0px;
  height: 33px;
  background: url("../images/v202_2477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(247,249,252,1);
  overflow: hidden;
}
.v202_2478 {
  width: 326px;
  height: 45px;
  background: url("../images/v202_2478.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 3px 0px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  overflow: hidden;
}
.v202_2479 {
  width: 120px;
  height: 32px;
  background: url("../images/v202_2479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v202_2480 {
  width: 120px;
  height: 8px;
  background: url("../images/v202_2480.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2481 {
  width: 20px;
  height: 8px;
  background: rgba(239,226,248,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v202_2482 {
  width: 18px;
  color: rgba(146,81,247,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 5px;
  opacity: 1;
  text-align: center;
}
.v202_2483 {
  width: 35px;
  height: 8px;
  background: url("../images/v202_2483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 22px;
  overflow: hidden;
}
.v202_2484 {
  width: 6px;
  height: 6px;
  background: url("../images/v202_2484.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v202_2485 {
  width: 3px;
  height: 4px;
  background: rgba(121,129,154,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
}
.v202_2486 {
  width: 27px;
  color: rgba(121,129,154,1);
  position: absolute;
  top: 0px;
  left: 8px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 5px;
  opacity: 1;
  text-align: left;
}
.v202_2487 {
  width: 120px;
  height: 20px;
  background: url("../images/v202_2487.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  overflow: hidden;
}
.v202_2488 {
  width: 20px;
  height: 20px;
  background: url("../images/v202_2488.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v202_2489 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v202_2490 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v202_2491 {
  width: 92px;
  height: 19px;
  background: url("../images/v202_2491.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 28px;
  overflow: hidden;
}
.v202_2492 {
  width: 49px;
  color: rgba(121,129,154,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v202_2493 {
  width: 74px;
  color: rgba(45,45,71,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v202_2494 {
  width: 202px;
  color: rgba(121,129,154,1);
  position: absolute;
  top: 3px;
  left: 124px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v202_2380 {
  width: 346px;
  height: 46px;
  background: url("../images/v202_2380.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 0px;
  overflow: hidden;
}
.v202_2381 {
  width: 12px;
  height: 46px;
  background: url("../images/v202_2381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2382 {
  width: 12px;
  height: 12px;
  background: url("../images/v202_2382.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v202_2383 {
  width: 12px;
  height: 12px;
  background: url("../images/v202_2383.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2384 {
  width: 7px;
  height: 7px;
  background: url("../images/v202_2384.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  overflow: hidden;
}
.v202_2385 {
  width: 3px;
  height: 3px;
  background: rgba(45,45,71,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
}
.v202_2386 {
  width: 0px;
  height: 34px;
  background: url("../images/v202_2386.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 6px;
  overflow: hidden;
}
.v202_2387 {
  width: 0px;
  height: 34px;
  background: url("../images/v202_2387.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(247,249,252,1);
  overflow: hidden;
}
.v202_2388 {
  width: 326px;
  height: 46px;
  background: url("../images/v202_2388.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 3px 0px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  overflow: hidden;
}
.v202_2389 {
  width: 120px;
  height: 35px;
  background: url("../images/v202_2389.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v202_2390 {
  width: 120px;
  height: 7px;
  background: url("../images/v202_2390.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2391 {
  width: 48px;
  color: rgba(71,80,107,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 5px;
  opacity: 1;
  text-align: left;
}
.v202_2392 {
  width: 24px;
  height: 7px;
  background: url("../images/v202_2392.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 50px;
  overflow: hidden;
}
.v202_2393 {
  width: 6px;
  height: 6px;
  background: url("../images/v202_2393.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2394 {
  width: 3px;
  height: 4px;
  background: rgba(121,129,154,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
}
.v202_2395 {
  width: 16px;
  color: rgba(121,129,154,1);
  position: absolute;
  top: 0px;
  left: 8px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 5px;
  opacity: 1;
  text-align: left;
}
.v202_2396 {
  width: 120px;
  height: 24px;
  background: url("../images/v202_2396.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v202_2397 {
  width: 24px;
  height: 24px;
  background: url("../images/v202_2397.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2398 {
  width: 87px;
  height: 19px;
  background: url("../images/v202_2398.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 33px;
  overflow: hidden;
}
.v202_2399 {
  width: 87px;
  color: rgba(121,129,154,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v202_2400 {
  width: 87px;
  color: rgba(45,45,71,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v202_2401 {
  width: 202px;
  color: rgba(121,129,154,1);
  position: absolute;
  top: 3px;
  left: 124px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v202_2402 {
  width: 346px;
  height: 44px;
  background: url("../images/v202_2402.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 91px;
  left: 0px;
  overflow: hidden;
}
.v202_2403 {
  width: 12px;
  height: 44px;
  background: url("../images/v202_2403.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2404 {
  width: 12px;
  height: 12px;
  background: url("../images/v202_2404.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v202_2405 {
  width: 12px;
  height: 12px;
  background: url("../images/v202_2405.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2406 {
  width: 7px;
  height: 7px;
  background: url("../images/v202_2406.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  overflow: hidden;
}
.v202_2407 {
  width: 3px;
  height: 3px;
  background: rgba(45,45,71,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
}
.v202_2408 {
  width: 0px;
  height: 32px;
  background: url("../images/v202_2408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 6px;
  overflow: hidden;
}
.v202_2409 {
  width: 0px;
  height: 32px;
  background: url("../images/v202_2409.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(247,249,252,1);
  overflow: hidden;
}
.v202_2410 {
  width: 326px;
  height: 44px;
  background: url("../images/v202_2410.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 3px 0px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  overflow: hidden;
}
.v202_2411 {
  width: 120px;
  height: 33px;
  background: url("../images/v202_2411.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v202_2412 {
  width: 120px;
  height: 7px;
  background: url("../images/v202_2412.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2413 {
  width: 53px;
  color: rgba(71,80,107,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 5px;
  opacity: 1;
  text-align: left;
}
.v202_2414 {
  width: 24px;
  height: 7px;
  background: url("../images/v202_2414.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  overflow: hidden;
}
.v202_2415 {
  width: 6px;
  height: 6px;
  background: url("../images/v202_2415.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2416 {
  width: 3px;
  height: 4px;
  background: rgba(121,129,154,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
}
.v202_2417 {
  width: 16px;
  color: rgba(121,129,154,1);
  position: absolute;
  top: 0px;
  left: 8px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 5px;
  opacity: 1;
  text-align: left;
}
.v202_2418 {
  width: 120px;
  height: 22px;
  background: url("../images/v202_2418.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v202_2419 {
  width: 22px;
  height: 22px;
  background: url("../images/v202_2419.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2420 {
  width: 89px;
  height: 19px;
  background: url("../images/v202_2420.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 31px;
  overflow: hidden;
}
.v202_2421 {
  width: 89px;
  color: rgba(121,129,154,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v202_2422 {
  width: 89px;
  color: rgba(45,45,71,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v202_2423 {
  width: 202px;
  color: rgba(121,129,154,1);
  position: absolute;
  top: 3px;
  left: 124px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v202_2424 {
  width: 346px;
  height: 43px;
  background: url("../images/v202_2424.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 0px;
  overflow: hidden;
}
.v202_2425 {
  width: 12px;
  height: 43px;
  background: url("../images/v202_2425.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2426 {
  width: 12px;
  height: 12px;
  background: url("../images/v202_2426.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v202_2427 {
  width: 12px;
  height: 12px;
  background: url("../images/v202_2427.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2428 {
  width: 7px;
  height: 7px;
  background: url("../images/v202_2428.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  overflow: hidden;
}
.v202_2429 {
  width: 3px;
  height: 3px;
  background: rgba(45,45,71,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
}
.v202_2430 {
  width: 0px;
  height: 31px;
  background: url("../images/v202_2430.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 6px;
  overflow: hidden;
}
.v202_2431 {
  width: 0px;
  height: 31px;
  background: url("../images/v202_2431.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(247,249,252,1);
  overflow: hidden;
}
.v202_2432 {
  width: 326px;
  height: 43px;
  background: url("../images/v202_2432.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 3px 0px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  overflow: hidden;
}
.v202_2433 {
  width: 120px;
  height: 31px;
  background: url("../images/v202_2433.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v202_2434 {
  width: 120px;
  height: 7px;
  background: url("../images/v202_2434.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2435 {
  width: 52px;
  color: rgba(71,80,107,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 5px;
  opacity: 1;
  text-align: left;
}
.v202_2436 {
  width: 24px;
  height: 7px;
  background: url("../images/v202_2436.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 54px;
  overflow: hidden;
}
.v202_2437 {
  width: 6px;
  height: 6px;
  background: url("../images/v202_2437.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v202_2438 {
  width: 3px;
  height: 4px;
  background: rgba(121,129,154,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
}
.v202_2439 {
  width: 16px;
  color: rgba(121,129,154,1);
  position: absolute;
  top: 0px;
  left: 8px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 5px;
  opacity: 1;
  text-align: left;
}
.v202_2440 {
  width: 120px;
  height: 20px;
  background: url("../images/v202_2440.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v202_2441 {
  width: 20px;
  height: 20px;
  background: url("../images/v202_2441.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v202_2442 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v202_2443 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v202_2444 {
  width: 92px;
  height: 19px;
  background: url("../images/v202_2444.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 28px;
  overflow: hidden;
}
.v202_2445 {
  width: 92px;
  color: rgba(121,129,154,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v202_2446 {
  width: 92px;
  color: rgba(45,45,71,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 7px;
  opacity: 1;
  text-align: left;
}
.v202_2447 {
  width: 202px;
  color: rgba(121,129,154,1);
  position: absolute;
  top: 3px;
  left: 124px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v201_457 {
  width: 378px;
  height: 180px;
  background: url("../images/v201_457.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 369px;
  left: 0px;
  overflow: hidden;
}
.v201_458 {
  width: 16px;
  height: 180px;
  background: url("../images/v201_458.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_459 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v201_460 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_461 {
  width: 10px;
  height: 10px;
  background: url("../images/v201_461.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v201_462 {
  width: 4px;
  height: 4px;
  background: rgba(85,48,167,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v201_463 {
  width: 0px;
  height: 164px;
  background: url("../images/v201_463.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 7px;
  overflow: hidden;
}
.v201_464 {
  width: 0px;
  height: 164px;
  background: url("../images/v201_464.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(226,230,237,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v201_466 {
  width: 378px;
  height: 130px;
  background: url("../images/v201_466.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 549px;
  left: 0px;
  overflow: hidden;
}
.v201_467 {
  width: 16px;
  height: 130px;
  background: url("../images/v201_467.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_468 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v201_469 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_470 {
  width: 10px;
  height: 10px;
  background: url("../images/v201_470.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v201_471 {
  width: 4px;
  height: 4px;
  background: rgba(85,48,167,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v201_472 {
  width: 0px;
  height: 114px;
  background: url("../images/v201_472.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 7px;
  overflow: hidden;
}
.v201_473 {
  width: 0px;
  height: 114px;
  background: url("../images/v201_473.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(226,230,237,1);
  overflow: hidden;
}
.v201_474 {
  width: 16px;
  height: 180px;
  background: url("../images/v201_474.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 107px;
  left: 0px;
  overflow: hidden;
}
.v201_475 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v201_476 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_477 {
  width: 10px;
  height: 10px;
  background: url("../images/v201_477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v201_478 {
  width: 4px;
  height: 4px;
  background: rgba(85,48,167,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v201_479 {
  width: 0px;
  height: 164px;
  background: url("../images/v201_479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 7px;
  overflow: hidden;
}
.v201_480 {
  width: 0px;
  height: 164px;
  background: url("../images/v201_480.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(226,230,237,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v201_482 {
  width: 378px;
  height: 133px;
  background: url("../images/v201_482.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 679px;
  left: 0px;
  overflow: hidden;
}
.v201_483 {
  width: 16px;
  height: 133px;
  background: url("../images/v201_483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_484 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v201_485 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v201_486 {
  width: 10px;
  height: 10px;
  background: url("../images/v201_486.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v201_487 {
  width: 4px;
  height: 4px;
  background: rgba(85,48,167,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v201_488 {
  width: 0px;
  height: 117px;
  background: url("../images/v201_488.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 7px;
  overflow: hidden;
}
.v201_489 {
  width: 0px;
  height: 117px;
  background: url("../images/v201_489.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(226,230,237,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
