@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Outfit:wght@500&display=swap');

#left-container {
    position: relative;
    float: left;
    padding: 24px;
    background-color: lightskyblue;
}

#right-container {
    position: relative;
    width: 70%;
    float: right;
    padding: 32px 24px 32px 16px;
    background-color: lightpink;
}

.avatar {
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    border-radius: 100px;
    border: red;
}

.title {
    font-family: 'Outfit';
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #2E2E48;
}

.subtitle1 {

    font-family: 'DM Sans';
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #79819A;
}

.subtitle2 {
    font-family: 'DM Sans';
    font-weight: 500;
    line-height: 9px;
    color: #47516B;
}

.text {
    font-family: 'Outfit';
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.02em;
    color: #47516B;
}

.table {}

