@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

#left-container {
    position: relative;
    float: left;
    padding: 24px;
    width: 20%;
    background-color: lightskyblue;
}

#right-container {
    position: relative;
    width: 70%;
    float: right;
    padding: 32px 24px 32px 16px;
    background-color: lightpink;
}

.avatar {
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    border-radius: 100px;
    border: red;
}

.title {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #2E2E48;
}

.text {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 12px;

    letter-spacing: 0.02em;
    color: #47516B;
}

.subtitle {
    font-family: 'Outfit';
    padding: 0px;
    gap: 2px;

    width: 108px;
    height: 19px;
}

.subtitle1 {
    width: 108px;
    height: 8px;

    font-family: 'Outfit';
    font-weight: 400;
    font-size: 6px;
    line-height: 8px;
    letter-spacing: 0.01em;
    color: #79819A;
}

.subtitle2 { 
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 7px;
    line-height: 9px;
    color: #47516B;
}

.table {}