@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Outfit:wght@500;600&display=swap');

:root {
    --gray-lightest: #E2E6EE;
    --gray-lighter: #D9DFE8;
    --gray-lightest-2: #dfecff;
    --gray-lightest-3: #eff6ff;
    --gray-light: #ACB1C3;
    --gray-lighter: #D9DFE8;
    --gray-darker: #2E2E48;
    --gray-darker-2: #4a4a68;
    --gray-default: #79819A;
    --secondary-default: #516CF7;
}

/* containers start*/

body {
    display: flex;
    justify-items: center;
}

#wrapper {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    align-items: start;
    width: 70rem;
}

#left-container {
    padding: 1.5rem;
    background-image: url(images/Background1x.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    min-width: min-content;
    max-width: 21.5%;
    gap: 1rem;
}

#right-container {
    padding: 2rem 0rem 2rem 1rem;
}

.mainHeader-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.qoutes-wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
}

.qoutes-wrapper-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* containers END*/

/*stylies for left-container */
/* text stylies start*/

/*style of text for left-container*/
/*For NAME*/
.heading {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
}

.heading-1-bold {
    color: var(--gray-lightest);
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.16px;
}

.heading-2-bold {
    color: var(--gray-darker, #2E2E48);
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.24px;
}

/*For quote*/
.heading-3-bold {
    color: var(--gray-lighter);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
}

/*For ref of repos*/
.heading-4-bold {
    color: var(--secondary-default, #667ef1);
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    text-decoration-line: underline;
}

.body {
    font-family: 'DM Sans';
    font-style: normal;
}

.body-caption-1 {
    color: var(--gray-light);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.16px;
}

.body-caption-1-bold {
    color: var(--gray-darker, #2E2E48);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.body-caption-2 {
    color: var(--gray-default, #79819A);
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.10px;
}

.body-1-bold {
    color: var(--gray-darker, #2E2E48);
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.body-2-bold {
    color: var(--gray-lighter);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.body-2 {
    color: var(--gray-default, #79819A);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.14px;
}

/* text stylies END*/

/* iamges */

.avatar {
    align-items: center;
    background-image: url(images/wideAvatar.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    min-height: 8.1rem;
}

.icon {
    width: 1.75rem;
}

.iconQoute {
    height: 1.25rem;
}

.hobbyIcon {
    background-color: #e9ecf0;
    padding: 0.125rem;
    border-radius: 7px;
    border: 0px;
}

.flagIcon {
    width: 1.875rem;
    border-radius: 0.25rem;
}

.educationIcon {
    height: 4rem;
}

.skillsIcon {
    width: 3.2rem;
}

.projectIcon {
    width: 1.2rem;
    background-color: #E1E7FE;
    border-radius: 10rem;
}

/* iamges END*/

/* table*/

.table {
    display: flex;
    flex-direction: column;
}

.table-infos {
    gap: 0.75rem;
}

.table-socials,
.table-languages {
    gap: 0.625rem;
}

.table-hobby {
    gap: 0.5rem;
}

.row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.row-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

/*table END*/

/*other details*/

.divider {
    background-color: #FFFFFF;
    height: 0.5px;
    opacity: 20%;
    border: none;
    width: 100%;
}

/*other details END*/
/*stylies for left-container END*/

/*stilies for right-container START*/

.list {
    padding-left: 2.5rem;
    list-style-type: disc;
}

.itemList {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--gray-lightest-2, #F7F9FC);
}

.itemList::marker {
    color: #5531A7;
    font-size: 1.8rem;
}

.itemList:last-child {
    margin-bottom: 0;
}

.skillsWrapper {
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
    align-self: stretch;
}

.cards {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    gap: 0.625rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--gray-lightest-3, #eff6ff) ;
}

.card-education {
    padding: 0.5rem 1.2rem;
    gap: 0.25rem;
    align-items: flex-start;
    width: 33%;
}

.card-skills {
    padding: 0.5rem;
    gap: 0.25rem;
    align-items: center;
}

.card-project {
    gap: 0.7rem;
    padding: 0.75rem;
    max-width: 15rem;
    align-items: flex-start;
}

.textCardSkills {
    display: flex;
    flex-direction: column;
    gap: 0.06rem;
    width: 9rem;
    text-align: center;
}

.headerCard {
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
}

.textCard {
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-self: stretch;
}

/*stilies for left-container END*/